.loaner-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}


  .loaner-input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .loaner-submit-button {
    background-color: coral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    margin-bottom: 10px;
    filter: drop-shadow(-1px 9px 4px #b99595);
    }
    
    .loaner-submit-button:active {
      transition: .2s;
      filter: none;
      transition: .2s;
  }
  label {
    width: 75%;
    font-size: 22px;
    font-weight: bold;
  }
  



.accordion-button.collapsed{
background-color: lightblue(234, 234, 234) !important;
  background-color:lightblue;
  font-size: 20px;
}

.accordion-button:focus {
  box-shadow: none;
  background-color: lightblue;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(203, 177, 177);
  font-size: 20px;
}
.accordion-button {
  background-color: lightblue !important;
}
.helperText {
  font-size: 12px;
  color: grey;
}





    

