.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo {
    align-self: center;
}

.login_container {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    display: flex;
    align-items: left;
    flex-direction: column;    
}

.login_container img {
   text-align: center;
   height: 200px; 
   margin-right: 25px;
}

.welcome {
    font-size: x-large;
}

.logPrompt {
    color: grey !important;
}

.formUsername,
.formPassword {
    font-weight: 300;
    font-size: large;
    margin: 10px;

}
    
.button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 157, 255) !important;
}


.loginButton {
    text-align: center;
    margin-top: 10px;
}

.loginButton Button {
    width: 200px;
    font-size: 25px;
    color: rgb(222, 222, 222);

}

.loginButton Button:hover{
    color:rgb(255, 255, 255);
    box-shadow: rgba(10, 9, 9, 0.24) 0px 5px 10px;
}

.tryit {
    align-self: center;
}
