body {
  background-image: url(./Images/music.jpg);
  background-size:130%;
  height: 100vh;
  width: 100vw;
  opacity:1;
  overflow-x: hidden;
}
.loanersViewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-container {
margin-top: 56px;
position: static;
}
.btn {
  font-size: calc(10px + 2vmin);
  margin: 5px;
  background-color:#046eab;
}
.btn:hover{
  background-color:#03669f!important;
  
}
.btn-delete {
width: 50px !important;
background-color:#046eab !important;

}
.btn-delete:hover {
  width: 50px !important;
  background-color: rgb(253, 0, 0) !important;
  }
.btn-instrument {
  width: 175px;
  font-size:24px !important;
}

.btn-loaner-update {
  width: 250px;
  font-size:24px !important;
}
.deleteButton {
  width: 250px;
  font-size:24px !important; 
  background-color:rgb(171, 0, 0) !important ;
  margin-top: 20px;
}
.deleteButton:hover{
  background-color: red !important;
}




h1 {
  text-align: center;
  font-family: opensans!important;
  border: none !important;
}



.cards-container {
z-index: 0;
}




.searchBarAndButton {
  display: flex;
  align-items: center;
  width: fit-content;
}
.searchBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
  background-color:lightgray;
  border: 2px solid rgb(20, 116, 164);
  padding: 10px;
  
}

.instrumentCounter  {
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  
}

.searchBar Input  {
  height:40px;
  align-self: center;
  border-radius: 5px;
  font-size: 22px;
}
.dropdown {
  border: solid 1px rgb(67, 67, 67);
  max-width: 33vw;
  border-radius: 5px;
}

.form-label label {
font-size:22px;
padding: 10px;
}

/*styling for update modal */

.useInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.updateFormTitle {
  font-size: xx-large;
  text-align: center;
  margin: 10px;
}
.modal-text 
{
  font-size:20px;
  max-width: 350px;
  overflow: hidden;
}
.updateFormButtonsContainer {
display: flex;
flex-direction: column;
padding: 10px;
}




.welcome-message {
  font-size: 22px;
  height: 50px;
  background-color: white;
  text-align: center;
}

.login_container {
  background-color: white !important;
  
}

.login_container img {

margin-left: 25px;
}

.brand {
  text-decoration: none;
  font-weight: bold;
  color: lightcoral;
}

.cardText {
  font-size: 22px;
}

Button.select {
  width: 50px;
}











