.scanner {
    background-color: rgba(255, 0, 0, 0);
    padding: 10px;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 393px;
}

.scannerWrapper {
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 393px;
    top: 15px;
    filter: drop-shadow(-1px 5px 4px #515151);
}

.scanButtons {
    background-color: coral;
    border-radius: 5px;
    width: 200px;
    height: fit-content !important;
        padding: 5px;
        filter: drop-shadow(-1px 9px 10px #515151);
        color: white;
            font-weight: bold;
            border: none;

}
.scanButtons:active {
    filter: none;
    transition: .1s;
}